<h1 class="text-xl sm:text-4xl font-bold text-red-400">In Past Weeks We Have Mostly Been Eating</h1>

<% unless @past_meal_plans.present? %>
  <p> Nothing :(</p>
<% else %>
  <div class="flex flex-col gap-y-4">
    <% @past_meal_plans.each do |plan| %>
      <div class="my-2">
        <h2 class="font-bold"><%= "#{plan.start_date} -> #{plan.end_date}" %></h2>
        <ul class="flex flex-col gap-y-2">
          <% plan.recipes.each do |recipe| %>
            <li><%= recipe.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex-col gap-y-4">
  <div class="flex gap-x-2 my-2">

    <%== @pagy.series_nav %>
  </div class="my-2">
  <%= button_to 'Current Plan', meal_plans_path, :tertiary %>
</div>
