<h1>Meals</h1>

<ul class="flex flex-col">
  <% @meals.each do |meal| %>
    <li><%= button_to meal.name, meal, :tertiary %></li>
  <% end %>
</ul>

<%= button_to "New meal", new_meal_path, :primary %>
