<p id="notice"><%= notice %></p>

<h1>Recipe Books</h1>

<ul class="flex flex-col">
  <% @recipe_books.each do |recipe_book| %>
    <li><%= button_to recipe_book.name, recipe_book, :tertiary %></li>
  <% end %>
</ul>

<%= button_to 'Add New', new_recipe_book_path, :primary %>
